@mixin log-button {
  min-width: 20rem;
  min-height: 4rem;
  background: $white;
  color: $dark-blue;
  border: none;
  border-radius: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  outline: none;
  &:hover {
    background: rgb(196, 142, 194);
  }

  @include breakpoint(tablet) {
    min-width: 30rem;
    min-height: 5rem;
    margin-top: 2rem;
    font-size: 2rem;
  }
}
