@mixin modal-container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

@mixin modal {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50rem;
  height: 18rem;

  box-shadow: 5px 5px 10px #060b2b, -5px -5px 10px #060b2b;
  border-radius: 1rem;
}
