// Global style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $background-dashboard;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

button {
  font-family: "Poppins", sans-serif;
}
