.comments-by-questions-container {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  top: 0;
  left: 0;

  @include flex-column-start;

  width: 100%;
  height: 100%;

  background: $background-dashboard;

  overflow-y: scroll;
  @include scroll;

  #return {
    position: absolute;
    z-index: 3;
    top: 1.2rem;
    left: 1.2rem;

    font-size: 2rem;
    color: $dark-blue;
    cursor: pointer;
  }

  .comments-by-questions {
    width: 100%;
    height: 20rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 0.2rem solid #0e1644;
    &:hover {
      background: $hover-blue;
    }

    .comments-by-questions-user {
      width: 100%;
      height: 50%;

      @include flex-start;
      flex: 1;
      transform: translateX(20px);

      i {
        font-size: 4rem;
        margin-right: 1rem;
      }

      h3 {
        font-size: $small;
        font-weight: inherit;
      }
    }

    .comments-by-questions-answer {
      width: 100%;
      height: 70%;

      overflow: hidden;

      @include flex-column(center);
      flex: 1;

      .comments-by-questions-answer-rating {
        @include flex-center;

        span {
          font-size: $medium;
          margin-right: 0.5rem;
        }

        i {
          font-size: 1.5rem;
        }

        .star-rating-none {
          color: rgb(214, 213, 205);
        }

        .star-rating-yellow {
          color: rgb(252, 212, 51);
        }
      }

      .comments-by-questions-answer-feedback {
        overflow-y: scroll;
        // @include scroll;
        p {
          font-size: $medium;
        }
      }
    }
  }
}
