//Button 'commentaires'
.dashboard-general-informations {
  button {
    position: absolute;
    top: 2rem;
    transform: translateX(20px);
    z-index: 2;

    width: 12rem;
    height: 2.5rem;

    background: $white;
    color: $background;
    border: none;
    border-radius: 0.8rem;
    font-size: $medium;
    outline: none;
  }
}

.feedback-background {
  @include breakpoint(laptop) {
    @include modal-container;
  }

  .feedback-container {
    @include breakpoint(laptop) {
      @include modal;

      width: 55vw;
      height: 55vh;

      @include flex-column-start;

      background: $background-dashboard;
      color: $white;

      overflow-y: scroll;
      @include scroll;

      h2 {
        z-index: 2;
        width: 100%;
        height: 30rem;

        padding: 1rem 0rem;

        text-align: center;
        background: $white;
        color: $background-dashboard;
        font-size: $large;
      }

      #esc-modal {
        position: absolute;
        z-index: 3;
        top: 0.5rem;
        right: 1.5rem;

        font-size: 3rem;
        color: $background-dashboard;
        cursor: pointer;
        outline: none;
      }

      .feedbacks-questions {
        width: 100%;

        padding: 3.5rem 0;

        list-style: none;
        border-bottom: 0.2rem solid #0e1644;
        text-align: center;
        font-size: $medium;
        cursor: pointer;

        &:hover {
          background: $hover-blue;
        }

        .feedbacks-questions-disappear {
          display: none;
        }
      }
    }
  }
}
