.dashboard-general-informations {
  button {
    position: absolute;
    top: 2rem;
    transform: translateX(20px);

    width: 10rem;
    height: 2.5rem;

    background: $white;
    color: $background;
    border: none;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    outline: none;
  }
}

.feedback-container {
  @include breakpoint(laptop) {
    width: 100%;
    height: 100%;

    @include flex-column-center;

    background: $background;
    color: $white;

    li {
      list-style: none;
      padding-bottom: 0.3rem;
      border-bottom: 0.2rem solid $white;
      width: 80%;
      text-align: center;
      font-size: 1.4rem;
    }
  }
}
