//Button 'commentaires'
.feedbacks-button {
  display: flex;
  justify-content: flex-end;

  margin: 1rem;
  .feedbacks-button-filter {
    @include flex-center;
    width: 10%;

    margin-right: 1rem;

    background: $dark-blue;
    border-radius: 0.8rem;
    color: $white;
    cursor: pointer;

    i {
      font-size: 1.3rem;
    }

    span {
      font-size: $medium;
      margin-left: 0.5rem;
    }
  }
}

.dashboard-general-informations {
  button {
    width: 8%;
    height: 2.5rem;

    background: $dark-blue;
    color: $white;
    border: none;
    border-radius: 0.8rem;
    font-size: $medium;
    outline: none;
    cursor: pointer;

    &:focus {
      background: rgb(144, 76, 238);
    }
  }
}

.feedback-background {
  @include breakpoint(laptop) {
    @include modal-container;
  }

  .feedback-container {
    @include breakpoint(laptop) {
      @include modal;

      width: 55vw;
      height: 55vh;

      @include flex-column-start;

      background: $background-dashboard;
      color: $white;

      overflow-y: scroll;
      @include scroll;

      h2 {
        z-index: 2;
        width: 100%;
        height: 30rem;

        padding: 1rem 0rem;

        text-align: center;
        background: $white;
        color: $background-dashboard;
        font-size: $large;
      }

      #esc-modal {
        position: absolute;
        z-index: 3;
        top: 0.5rem;
        right: 1.5rem;

        font-size: 3rem;
        color: $background-dashboard;
        cursor: pointer;
        outline: none;
      }

      .feedbacks-questions {
        width: 100%;

        padding: 3.5rem 0;

        list-style: none;
        border-bottom: 0.2rem solid #0e1644;
        text-align: center;
        font-size: $medium;
        cursor: pointer;

        &:hover {
          background: $hover-blue;
        }

        .feedbacks-questions-disappear {
          display: none;
        }
      }
    }

    @include breakpoint(large-screen) {
      max-width: 50vw;
    }
  }
}
