.registration-container,
.login-container {
  min-height: 50vh;
  @include flex-column-center;

  .logo {
    width: 220px;
    margin: 0 auto;

    @include breakpoint(tablet) {
      width: 300px;
    }

    @include breakpoint(laptop) {
      max-height: 50vh;
      width: 30%;
    }
  }

  .select-register {
    width: 100%;
    height: 3rem;

    @include flex-center;

    background: $background;
    color: $white;
    font-size: $small;
    border: none;
    padding-bottom: 0.5rem;
    margin: 1rem 0;
    border-bottom: 0.2rem solid #61adbe;
    outline: none;
    cursor: pointer;
    text-align-last: center;

    @include breakpoint(tablet) {
      font-size: $large;
    }
  }

  .name-register,
  .username-register,
  .password-register,
  .email-login,
  .password-login {
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;

    text-align: center;
    color: #fff;

    label {
      padding: 1rem;
      font-size: $small;
    }

    input {
      width: 20rem;
      height: 3rem;

      margin: 0 auto;

      background-color: transparent;
      border: none;
      border-bottom: 0.2rem solid #61adbe;
      color: #fff;
      outline: none;
    }

    @include breakpoint(tablet) {
      label {
        font-size: $large;
        margin-top: 1rem;
      }

      input {
        width: 30rem;
        height: 5rem;
        font-size: $large;
        margin-bottom: 1rem 0;
      }
    }
  }

  .button-register,
  .button-login {
    text-align: center;

    button {
      @include button($background-dashboard, $white);
      font-size: $small;

      @include breakpoint(tablet) {
        font-size: $large;
      }
    }
  }
}

.button-register-error,
.button-login-error {
  button {
    @include log-button;
    font-size: $small;

    &:focus {
      background: $error;
      color: $white;
      @include wrong;
    }

    @include breakpoint(tablet) {
      font-size: $large;
    }
  }
}

.login-register {
  padding: 1rem;

  text-align: center;
  color: #fff;

  button {
    cursor: pointer;
    color: #fff;
    border: none;
    background: transparent;
    font-size: $small;

    @include breakpoint(tablet) {
      font-size: $large;
    }
  }
}

.errors-input {
  @include error;
}

// Login container
.form-container {
  min-width: 100vw;
  min-height: 100vh;
  background: $background;
  @include flex-column-center;
}
