.navbar-container {
  width: 100vw;
  height: 10vh;
  background: $dark-blue;
  display: flex;

  .navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    img {
      transform: translateX(10px);
      width: 60%;
      min-width: 100px;
      max-width: 175px;
    }
  }

  .navbar-connection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      min-width: 10rem;
      min-height: 3rem;
      font-weight: bold;
      background: $dark-blue;
      color: $white;
      border: 1px solid $white;
      border-radius: 1rem;
      cursor: pointer;
      transform: translateX(-10px);

      &:hover {
        background: $white;
        color: $dark-blue;
        border: none;
        outline: none;
      }

      @include breakpoint(laptop) {
        transform: translateX(-30px);
        min-width: 15rem;
        min-height: 4rem;
        font-size: 1.6rem;
      }
    }
  }
}
