.navbar-container {
  width: 100vw;
  height: 10vh;
  display: flex;

  background: $background;

  .navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

    img {
      transform: translateX(10px);
      width: 60%;
      min-width: 100px;
      max-width: 175px;

      cursor: pointer;
    }
  }

  .navbar-connection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      @include log-button;
      min-width: 10rem;
      min-height: 4rem;

      margin-top: 0;
      padding: 0 1rem;
      transform: translateX(-10px);

      font-weight: bold;

      @include breakpoint(laptop) {
        min-width: 18rem;
        min-height: 4rem;

        margin-top: 0;
        transform: translateX(-30px);

        font-size: 1.6rem;
      }
    }
  }
}
