.repartition-chart {
  @include flex-column(center);
  height: 100%;
  width: 100%;

  h3 {
    text-align: center;
    padding: 1rem;
    font-size: $medium;
  }

  .repartition-chart-graph {
    width: 50%;
  }
}

.dashboard-repartition-disable {
  display: none;
}
