.dashboard-sidebar {
  display: none;
  @include breakpoint(laptop) {
    @include flex-column-center;

    position: relative;

    img {
      width: 50%;
      transform: translateY(-80px);
    }

    a {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 600;
    }

    li {
      @include flex-center;
      flex-wrap: wrap;
      width: 30rem;
      height: 5rem;
      margin: 1rem;
      border-radius: 1rem;
      background: #0f1744;
      cursor: pointer;
      &:hover {
        background: $background-dashboard;
        color: $white;
      }
    }

    .dashboard-sidebar-link-deconnexion {
      bottom: 5rem;
      background: $white;
      color: $dark-blue;
    }
  }
}
