.dashboard-sidebar {
  display: none;
  @include breakpoint(laptop) {
    @include flex-column-center;

    position: relative;

    img {
      width: 80%;
      transform: translateY(-80px);
      display: none;
    }

    a {
      text-decoration: none;
      font-size: $small;
      font-weight: 600;
      width: 80%;

      @include breakpoint(tablet) {
        width: 70%;
      }
    }

    li {
      @include flex-center;
      flex-wrap: wrap;
      height: 5rem;
      margin: 1rem;
      border-radius: 1rem;
      background: #0f1744;
      cursor: pointer;
      &:hover {
        background: $background-dashboard;
        color: $white;
      }

      display: none;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      height: 4rem;
      width: 4rem;

      font-size: 2rem;
      color: $blue;
      background: $white;
      border-radius: 50%;
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .dashboard-sidebar-link-deconnexion {
      bottom: 5rem;
      background: $white;
      color: $middle-blue;
    }
  }
}
