.dashboard-sidebar {
  display: none;
  @include breakpoint(laptop) {
    @include flex-column-center;

    position: relative;

    img {
      width: 50%;
      transform: translateY(-80px);
    }

    li {
      @include flex-center;
      flex-wrap: wrap;
      width: 30rem;
      height: 5rem;
      margin: 1rem;
      border-radius: 1rem;
      background: #0f1744;
      font-size: 1.5rem;
      &:hover {
        background: rgb(230, 136, 230);
      }
    }

    .dashboard-sidebar-link-deconnexion {
      position: absolute;
      bottom: 5rem;
      background: $white;
      color: $dark-blue;
    }
  }
}
