.thisMonth {
  padding: 1rem;
}

.pMonth {
  font-size: 2rem;
}

.review {
  font-size: 2.3rem;
  text-align: center;
  margin: 1.5rem 0;
}

.recordVolume {
  display: flex;
  margin-top: 1.2rem;
}

.pRecordVolume {
  font-size: 1.8rem;
  margin: 1.2rem 0 0 2px;
}

.progressionBox {
  text-align: center;
  margin: 1.7rem 0;
}

.progressionItem {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

// .titleBox {
//   font-size: 50px;
// }
