//Background
$background: #283583;
$background-dashboard: #182363;

// Hover

$hover-pink: rgb(230, 136, 230);

//Colors
$dark-blue: #1b4066;
$middle-blue: #265f87;
$gray: #303336;
$white: #fff;
$error: rgb(255, 0, 0);
