//Background
$background: #283583;
$background-dashboard: #182363;

// Hover
$hover-pink: rgb(230, 136, 230);
$hover-blue: #263cb6;

//Colors
$dark-blue: #182363;
$blue: #283583;
$middle-blue: #1b4066;
$white: #fff;

//Errors color
$error: rgb(255, 0, 0);
