.body {
  height: 100vh;
  width: 100vw;

  background-color: $background;
  color: #dadfe6;
  font-size: 1.6rem;

  .donnetonavis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: center;
    margin: 4rem auto 2rem auto;
    @media only screen and (max-width: 600px) {
      width: 90%;
    }
  }

  .donnetonavis * {
    margin-bottom: 1.6rem;
  }

  .btn-grad {
    @include button($white, $background-dashboard);
    @include flex-center;

    text-transform: uppercase;
    font-family: "B612", sans-serif;
  }

  .nombreavis {
    display: flex;
    justify-content: space-around;
    font-size: 1.7rem;
    margin: 4rem auto 0 auto;
    text-align: center;
    text-decoration: underline;
    margin-left: auto;
  }

  .bigbox {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    margin: 4rem auto;
    background: $background;

    @media only screen and (max-width: 600px) {
      flex-wrap: wrap;
    }
  }

  .box {
    width: 25%;
    text-align: center;
    margin: 0 2rem;

    @media only screen and (max-width: 600px) {
      width: 80%;
      text-align: center;
      margin: 0.7rem 2rem;
    }
  }

  .box:nth-child(3) {
    p {
      margin-bottom: 2rem;
    }
  }
}
