.prequest {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: $background;
  color: #dadfe6;
  font-size: $medium;

  h1 {
    margin: 4rem 0 2rem 0;
    font-size: 3rem;
  }

  .prequest-hospital-selection {
    label {
      font-size: $small;
    }

    select {
      width: 100%;
      height: 3rem;

      @include flex-center;

      padding-bottom: 0.5rem;
      margin: 2.5rem 0;

      background: $background;
      color: $white;
      font-size: $small;
      border: none;

      border-bottom: 0.2rem solid #61adbe;
      outline: none;
      cursor: pointer;
      text-align-last: center;

      @include breakpoint(tablet) {
        font-size: $large;
      }
    }

    .btn-grad {
      @include button($white, $background-dashboard);
      @include flex-center;

      width: 15%;
      height: 3rem;

      text-transform: uppercase;
      font-family: "B612", sans-serif;

      margin: 4rem auto 0;
    }
  }
}

.errorHandler {
  p {
    color: $error;
    text-align: center;
    margin-top: 0.5rem;
  }
}
