* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

// @import "./_survey";
// @import "./_question";
@import "./_Home";
@import "./_Navbar";
@import "./_Presurvey";
